.camagru-canvas {
  max-height: 320px;
  max-width: 240px;
  border-radius: 0.2;
}

#video-camera {
  display: block;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
  width: 45%;
}


.container-images {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  top: 80px;
  right: 5px;
}

.container-filtres {
  background-color: 41, 44, 47;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  overflow-x: auto;
}

.container-filtres img {
  flex: 1;
  width: 100%;
}

.container-images canvas{
  border-radius: 5px;
  width: 100%;
}

input[type="radio"]:checked+label {
  opacity: 0.8;
  border-color: lightgrey;
  border-style: outset;
  border-radius: 5px;
}

#comment {
  border-radius: 2px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: unset;
  width: 90%;
  height: 50px;
}
