.camagru-canvas {
  width:320px;
  height:240px;
  border-radius: 0.2;
}

#video-camera {
  display: block;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 70px;
}


.container-images {
  background-color: 234, 234, 234;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 325px;
  top: 80px;
  right: 5px;
}

.container-filtres {
  background-color: 41, 44, 47;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  overflow-x: auto;
}

.container-filtres img {
  flex: 1;
  height: 240px;
  height:320px;
}

.container-images canvas{
  border-radius: 5px;
}

input[type="radio"]:checked+label {
  opacity: 0.8;
  border-color: lightgrey;
  border-style: outset;
  border-radius: 5px;
}

#comment {
  border-radius: 2px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: unset;
  width: 90%;
  height: 50px;
}
