.info, .success, .warning, .error, .validation{
    width: 850px;
    border: 1px solid;
    margin: auto;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: contain;
    text-align: center;
    border-radius: 10px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/msgbox/info-icon.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/msgbox/success-icon.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/msgbox/warning-icon.png');

}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/msgbox/error-icon.png');
}

@media (max-width: 880px) {

    .info, .success, .warning, .error, .validation{
        width: 430px;
    }

}
